@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Epilogue:wght@300&family=Fraunces:opsz@9..144&family=Hanken+Grotesk:ital,wght@1,300&family=Inter&family=Montserrat&family=Outfit:wght@300&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  display: flex;
  font-family: "Inter", sans-serif;
}

#show {
  position: absolute;
  right: 100px;
  top: 70px;
  padding: 12px;
  border-radius: 5px;
}

#hide {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

dialog {
  padding: 20px;
  border-radius: 10px;
  border: none;
  box-shadow: -2px 4px 10px 2px rgb(84, 81, 81);
}

textarea {
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  border: 1px solid rgb(116, 205, 227);
}

input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid rgb(116, 205, 227);
  width: 225px;
}

h2 {
  position: absolute;
  top: 50px;
  left: 100px;
}

.bottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  height: 45px;
  margin-top: 20px;
}

.add {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
}

#hide {
  padding: 12px;
  border: none;
  height: 35px;
}

.list-item {
  list-style: none;
}
.para-object {
}

.container {
  margin: 2px solid yellow;
  /* background-color: red; */
  display: grid;
  place-content: center;
  grid-row: 3;
}

